
//COLORS
$firstColor:#3451c5;
$firstAlphaColor:rgba(52, 81, 197, .75);
$secondColor:#14192D;
$secondAlphaColor:rgba(20,25,45,0.75);
$thirdColor:#ca1f1f;
$thirdAlphaColor:rgba(80,20,100,0.75);
$whiteColor:#FFF;
$grayLightColor:#F3F3F3;
$grayColor:#CCC;
$grayDarkColor:#666;
$blackColor:#000;
$linkColor:#509EE3;
$titleColor:#333;
$textColor:#222;
$whiteAlphaColor:rgba(255,255,255,0.7);
$blackAlphaColor:rgba(0,0,0,0.5);

//FONTS
$font-family: "Raleway",sans-serif;

//Max-Width
$maxWidth:1200px;

//Header Hight

$headerHight:4rem;