.btn{
    position: relative;
    border-radius: .5rem;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    color: $whiteColor;
    background-color: $firstColor;
    display: inline-block;
    cursor: pointer;
    transition:background-color .4s ease-in-out, color .4s ease-in-out;
    box-shadow: .25rem .25rem 1rem $blackAlphaColor;
    overflow: hidden;
    &:hover{
        background-color: $whiteColor;
        color: $firstColor;
        box-shadow: .25rem .25rem 1rem $firstAlphaColor;
      
    }
}

.span-btn{
    position: absolute;
    background-color: black;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate{
0%{
    width: 0px;
    height: 0px;
    opacity: .5;
}
100%{
    width: 500px;
    height: 500px;
    opacity: 0;
}

}
