.hero-image{
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: var(--attachment);
    &-opacity{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blackAlphaColor;
        text-align: center;
    }
    &-title{
     text-align: center;   
     color: $whiteColor;
     font-size: 11vw;
     letter-spacing: 2px;
     margin-bottom: 2rem;
    }
  
}
.btn-contact{
    border-radius: .5rem;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    color: $whiteColor;
    display: inline-block;
    cursor: pointer;
    box-shadow: .1rem .1rem 1rem $blackAlphaColor;
    background: none;
    position: relative;
    overflow: hidden;
    transition: all .6s;
    background-color:$firstColor;
    z-index: 1;

    &:hover{
        color: $firstColor;
    }

    &::before{
        content: "";
        position: absolute;
        left: 0;
         bottom: 0;
        width: 100%;
        height: 0;
        background-color: $whiteColor;
        z-index: -1;
        transition: .8s;
        border-radius:50% 50% 0 0;
    }
    
    &:hover::before{
        height: 180%;
    }
}
