@include media-tablet {
//BASE
.section-title{
 width:450px ; 
}
 
  //HOME

  .hero-image-title{
    font-size: 7.5vw;
  }
  //SERVICES

  
  .services > .container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
    .section-title {
      grid-column: span 2;
    }
  }
  //SERVICES
  .portfolio {
   .modal &-info{
      h3{
        font-size: 1.5rem;
      }
      p{
        font-size: 1.3rem;
        padding-top: 1rem;
      }
    }
    
    .container-porfolio{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      
    }
    .section-title {
        grid-column: span 2;
      }
      .modal &-modal{
        flex-direction: row;
        max-width: 800px;
        height: 60vh;
      }
      &-info{
        margin-left: 1rem;
      }
       .modal img{
         max-width: 370px;
       }
  }
  .modal-close svg{
    width: 2.5rem;
    height: 2.5rem;
  }
  .contact-info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@include media-desktop {
   //header
   
  .header {
    top: 0;
    padding: 0.5rem 1.2rem 0.5rem 0.5rem;
    height: $headerHight - 0.5rem;
  }
  .header .container {
    height: 39px;
  }
  .menu {
    background-color: transparent;
     opacity: 1;
    pointer-events: auto;
    position: static;
    width: auto;
    flex-direction: row;
    padding: 0;
    backdrop-filter: none;
    &-item {
      border: none;
      padding: 0 1rem;
      font-size: 1rem;
      transition: text-decoration .3s, background-color .3s;
      &:hover {
        color: $firstColor;
        background-color: transparent;
        text-decoration: underline;
        text-decoration-color: $firstColor ;
         text-decoration-thickness: 3px;
      }
      &:last-child {
        padding-right: 0;
      }
    }

    &-btn {
      display: none;
    }
  }

  //ABOUT
  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
    padding: 3rem 0;
    min-height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    &-img {
      margin-top: 0;
    }
    .section {
      padding: 0;
    }
  }
  .progress {
    width: 100%;
  }
  .btn-cv {
    margin: 0;
    margin-top: 1rem;
  }
  .presentation {
    text-align: left;
  }
  //SERVICES

  .services > .container {
    grid-template-columns: repeat(3, 30%);
    min-height: 90vh;
    .section-title {
      grid-column: span 3;
    }
  }
  //PORTFOLIO
  .portfolio {
    .container {
      grid-template-columns: repeat(3, 33.33%);
      min-height: 100vh;
    }
    .section-title {
        grid-column: span 3;
      }
  }
  .contact-info{
    display: flex;
  }
  .contact-card{
    margin: 0 .8rem;
  }
  .footer{
    margin-bottom: 0;
  }
}
