.white{
     background-color: $whiteAlphaColor;
 }

.hero-image-content{
    width: 100%;
    min-width: 320px;
}
 .slider-img{
     border-radius: 50%;
     width: 150px;
     height: 150px;
     img{

        object-fit: cover;
     }
 }

 //CAROUSEL

 @keyframes  carousel-slide{
     0%{
transform: translateX(0);
     }
     25%{
        transform: translateX(-25%);
     }
     50%{
        transform: translateX(-50%);
     }
     75%{
        transform: translateX(-75%);
     }
 }
 .carousel{
     margin: 2rem auto;
     padding: 2rem 0;
     max-width: 800px;
     text-align: center;
     background-color: $whiteAlphaColor;
     overflow-x: hidden;
     & input{
         display: none;
     }
    
     & label{
         display: inline-block;
         width: .75rem;
         height: .75rem;
         border: 2px solid $grayDarkColor;
         border-radius: 50%;
         cursor:pointer;
         margin: 0 .25rem;
     }
   


 }

.swiper-slide{
   align-items: center;
   padding-bottom:6rem ;


   blockquote{
      padding-left: 10vw;
      padding-right: 10vw;
   }
}



